h1 {
  font-family: "Architects Daughter", cursive;
  color: orange;
}

body {
  background-color: white;
}

/* HTML tag */
section {
  background-color: grey;
}

/*  class */
.border {
  margin-bottom: 2rem;
}
/* ID # = reference to id
#image1 {
  border: 60px solid skyblue;
} */

.image-container {
  display: flex;
  /* flex = give the container some flex power, telling all children elements to do 1 thing */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* all the elements inside the flex box to justify center */
  width: 100%;
}

img {
  object-fit: cover;
  object-position: 30%;
  width: 100%;
  height: 100%;
  /* tell the image to be 100% of the <a> tag */
}

/* changing the size of the <a> tag */

a {
  width: 100px;
  height: calc(100vh - 6rem);
  margin: 0 2rem 2rem 2rem;
  filter: grayscale(100%);
  opacity: 80%;
  overflow: hidden;
}

a:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

img:hover {
  transform: scale(2);
  transition: all 1s ease-in-out;
}
